.btn{
    padding: 8px;
    border-radius: 5px;
    border: none;
    text-decoration: none;  

    font-size: 16px;
}
.btn:hover{
    cursor: pointer;
}  

.btn-primary{
    background: var(--color-teal-500);
    box-shadow: 1px 1px 2px 2px var(--shadow-sky-25);
    color: var(--primary-text-light);
    
}
.btn-primary:hover{
    background: var(--color-teal-600);
    translate: 0 -2px;
    transition: translate 300ms;
}
.btn-secondary{
    background: var(--color-teal-400);
    border: 2px solid var(--color-teal-800);
    color: var(--color-teal-950);
}
.btn-secondary:hover{
    background: var(--color-teal-500);
}


/*|=====| Custom elements|=====|*/

/* Table */
table{
    width: 100%;
    color: var(--primary-text-light);
    border-collapse: collapse;
    margin: 0;
}
th{
    border-bottom: 2px solid var(--color-gray-950);
    padding: 15px;
    background: var(--color-sky-600)
}
td{
    text-align: center;
    padding: 15px;
}

td form{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
