.btn{
    padding: 8px;
    border-radius: 5px;
    border: none;
    text-decoration: none;  

    font-size: 16px;
}
.btn:hover{
    cursor: pointer;
}  

.btn-primary{
    background: var(--color-primary-500);
    box-shadow: 1px 1px 2px 2px var(--shadow-primary-25);
    color: var(--color-primary-950);
    
}
.btn-primary:hover{
    background: var(--color-primary-600);
    translate: 0 -2px;
    transition: translate 300ms;
}
.btn-secondary{
    background: var(--secondary-color-500);
    box-shadow: 1px 1px 2px 2px var(--secondary-shadow-25);
    color: var(--secondary-dark-text);
}
.btn-secondary:hover{
    background: var(--secondary-color-600);
    translate: 0 -2px;
    transition: translate 300ms;
}
.btn-accent{
    background: var(--color-accent-400);
    box-shadow: 1px 1px 2px 2px var(--shadow-accent-25);
    color: var(--color-accent-950);
}
.btn-accent:hover{
    background: var(--color-accent-500);
    box-shadow: 1px 1px 2px 2px var(--shadow-accent-25);
}
.btn-ghost{
    background: var(--color-white);
    border: 2px solid var(--color-gray-900);
    color: var(--color-black);
}
.btn-ghost:hover{
    background: var(--color-gray-500);
    color: var(--color-white);
}

/*|=====| Custom elements|=====|*/

/* Table */
table{
    width: 100%;
    color: var(--color-black);
    border-collapse: collapse;
    margin: 0;
    background: var(--color-secondary-50);
}
th{
    border-bottom: 2px solid var(--color-secondary-300);
    padding: 15px;
    background: var(--color-secondary-100)
}
td{
    text-align: center;
    border-bottom: 1px solid var(--color-secondary-300);
    padding: 15px;
}

td form{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
