.btn{
    padding: 8px;
    border-radius: 5px;
    border: none;
    text-decoration: none;  

    font-size: 16px;
}
.btn:hover{
    cursor: pointer;
}  
.btn-primary{
    background: var(--color-teal-500);
    box-shadow: 1px 1px 2px 2px var(--shadow-sky-25);
    color: var(--primary-text-light);
    
}
.btn-primary:hover{
    background: var(--color-teal-600);
    translate: 0 -2px;
    transition: translate 300ms;
}
.btn-secondary{
    background: var(--color-teal-400);
    border: 2px solid var(--color-teal-800);
    color: var(--color-teal-950);
}
.btn-secondary:hover{
    background: var(--color-teal-500);
}


/*|=====| Custom elements|=====|*/

/* Island */
.island{
    margin: 25px auto;
    overflow: hidden;
    background: var(--color-sky-600);
    border-radius: 30px;
    box-shadow: 0 0 3px 3px var(--shadow-sky-25);
    min-width: 20vw;
    width: fit-content;
}

/* Table */
table{
    width: 100%;
    color: var(--primary-text-light);
    border-collapse: collapse;
    margin: 0;
}
th{
    border-bottom: 2px solid var(--color-gray-950);
    padding: 15px;
    background: var(--color-sky-600)
}
td{
    text-align: center;
    padding: 15px;
}

td form{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}


/* Forms */
h2{
    text-align: center;
    margin: 5px;
}

.form-container{
    display: flex;
    justify-content: center;
}
form{
    width: fit-content;
    display: flex;
    flex-direction: column;
    color: var(--primary-text-dark);
    padding: 10px;
}
form div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
form div >*{
    margin-bottom: 10px;
}
form div label{
    text-align: center;
}

form div > *:not(label){
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
}


input, select, textarea {
    border-radius: 5px;
    background: var(--color-gray-100);
    color: var(--primary-text-dark);
}

form div>textarea:hover, 
form div>input:hover, 
form div>select:hover, 
form div>textarea:focus, 
form div>input:focus, 
form div>select:focus{
    border: none;
    outline: none;
    background: var(--color-gray-200);
}

form label{
    font-size: 18px;
    font-weight: bold;
}
form .helptext{
    font-size: 14px;
}


form .error-message, .error{
    color: var(--color-red-500);
}

form .error-message{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

