@font-face{
    font-family: "sansation";
    src: url("../fonts/sansation/Sansation-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "sansation";
    src: url("../fonts/sansation/Sansation-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: "sanscode";
    src: url("../fonts/sanscode/GoogleSansCode-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-display: swap;
    font-style: normal;
}