.container{
    height: 100dvh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 35vw 200px;
    grid-template-rows: 1fr;
    background: var(--primary-gradient);
    align-items: stretch;
    box-sizing: border-box;
}
.form{
    background: var(--color-secondary-100);
    color: var(--color-primary-700);
    padding: 40px;
    height: 100%;
    text-align: center;
    box-sizing: border-box;

    box-shadow: 0 0 5px 5px var(--secondary-shadow-25);
}

.form div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/*===| Elements |===*/
.form div:has(input){
    margin: 20px;
}
.form div > *{
    margin: 5px;
}

.form label{
    pointer-events: none;
}

/* Webkit autofill  */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-secondary-200) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover{
  -webkit-box-shadow: 0 0 0 1000px var(--color-secondary-300) inset !important;
  -webkit-text-fill-color: var(--color-black) !important;
}


/* Inputs */
.form input:not([type="submit"]){
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background: var(--color-secondary-200);
}
.form input:not([type="submit"]):hover,
.form input:focus{
    outline: none;
    border: none;
    background: var(--color-secondary-300);
}

/*===| Buttons |===*/
.btn-form{
    background: var(--accent-color);
    color: var(--secondary-light-text); 
    box-shadow: 1px 1px 1px 1px var(--accent-shadow-25);
}
.btn-form:hover{
    box-shadow: 2px 2px 2px 2px var(--accent-shadow-5);
    
}
.btn-form:active,
.btn-form:focus{
    transform: translate(0, 1px);
    box-shadow: 1px 1px 1px 1px var(--accent-shadow-25);
    background: var(--accent-color)!important;
}

/* Text */
.form label{
    font-size: 1.5em;
}
.form h1{
    font-size: 3em;
    margin: 0;
}

.form .error,
.form .error-message{
    color: var(--error-text);
    font-size: 1.1em;
}
.form .info{
    color: var(--color-black);
}
.form a{
    text-decoration: none;
    color: var(--color-accent-500);
}
.form a:hover{
    text-decoration: underline;
}
/* Form info */
.form-info-container{
    padding: 60px;
    box-sizing: border-box;
}
.form-info{
    box-sizing: border-box;
    text-align: center;
    font-family: "sanscode";
    color: var(--color-secondary-200);

    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-info ul{
    display: flex;
    flex-direction: row;
}
.form-info ul li{
    margin-left: 50px;
}

/* Text styling */

.form-info h1{
    font-size: 3em;

    line-height: 0;
    display: inline-block;
    vertical-align: middle;
}

.form-info p{
    font-size: 1.8em;
}
.form-info li{
    font-size: 1em;
}


