.container{
    height: 100dvh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 30vw 200px;
    grid-template-rows: 1fr;
    background: linear-gradient(to bottom right, var(--grdient-1), var(--gradient-2));
    align-items: stretch;
    box-sizing: border-box;
}
.form{
    background: var(--primary-color);
    padding: 40px;
    height: 100%;
    text-align: center;
    color: var(--secondary-dark-text);
    box-sizing: border-box;

    box-shadow: 0 0 5px 5px var(--secondary-shadow-25);
}

.form div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/*===| Elements |===*/
.form div:has(input){
    margin: 20px;
}
.form div > *{
    margin: 5px;
}

.form label{
    pointer-events: none;
}

/* Webkit autofill  */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--secondary-input) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover{
  -webkit-box-shadow: 0 0 0 1000px var(--secondary-input-hover) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}


/* Inputs */
.form input:not([type="submit"]){
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background: var(--secondary-input);
}
.form input:not([type="submit"]):hover,
.form input:focus{
    outline: none;
    border: none;
    background: var(--secondary-input-hover);
}

/*===| Buttons |===*/
.btn-form{
    background: var(--accent-color);
    color: var(--secondary-light-text); 
    box-shadow: 1px 1px 1px 1px var(--accent-shadow-25);
}
.btn-form:hover{
    box-shadow: 2px 2px 2px 2px var(--accent-shadow-5);
    
}
.btn-form:active,
.btn-form:focus{
    transform: translate(0, 1px);
    box-shadow: 1px 1px 1px 1px var(--accent-shadow-25);
    background: var(--accent-color)!important;
}

/* Text */
.form label{
    font-size: 1.5em;
}
.form h1{
    font-size: 3em;
    margin: 0;
}
.form .error,
.form .error-message{
    color: var(--error-text);
    font-size: 1.1em;
}
.form .info{
    color: var(--primary-dark-text);
}
.form a{
    text-decoration: none;
    color: var(--accent-color);
}
.form a:hover{
    text-decoration: underline;
}
/* Form info */
.form-info-container{
    padding: 60px;
    box-sizing: border-box;
}
.form-info{
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: "sanscode";
    color: var(--primary-dark-text);
}

.quotes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}
/* Text styling */

.form-info h1{
    font-size: 3em;

    line-height: 0;
    display: inline-block;
    vertical-align: middle;
}

.form-info p{
    font-size: 1.8em;
}


