.nav-style-flex{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
}
.top-container{
    padding:0;
    margin: 0;
}
.row{
    padding: 20px 0;
    margin: 0;
}

/* Header styling */

.header{
    background: var(--color-sky-950);
    color: var(--color-sky-100);
    border-bottom: 4px solid var(--color-gray-950);
    padding: 40px 0;
}

.header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
header h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.username{
    margin-left: 50px;
}
.logout{
    margin-right: 50px;
}

/* Navbar styling */
nav{
    box-sizing: border-box;
    box-shadow: 0 2px 2px 2px var(--primary-sky-shadow);
}
.nav{
    padding: 0;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
nav li{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;

}

nav a{
    background: var(--color-sky-700);
    text-decoration: none;
    color: var(--primary-text-light);
    padding: 20px;
    display: block;
}
nav a:hover{
    background: var(--color-sky-800);

}

/* Actions styling */
.actions{
    background: var(--color-sky-700);
    box-shadow: 0 1px 2px 2px var(--shadow-sky-5);
    color: var(--primary-text-light);
        border-bottom: 2px solid var(--color-sky-800);

}

