header nav ul,
header section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    
}
header{
    padding:0;
    margin: 0;
}
header .heading,
header section,
.row{
    padding: 20px 0;
    margin: 0;
}

/* Header styling */

.heading{
    background: var(--color-primary-900);
    color: var(--color-white);
    border-bottom: 4px solid var(--color-primary-950);
    padding: 40px 0;
}

.heading div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 10px
}
header h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.username{
    margin-left: 50px;
}
.logout{
    margin-right: 50px;
}
.logout a{
    text-decoration: none;
    color: var(--color-white);
}
.logout a:hover{
    text-decoration: underline;
}

/* Navbar styling */
header nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
header nav li{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;

}

header nav a{
    background: var(--color-primary-600);
    text-decoration: none;
    color: var(--color-white);
    padding: 20px;
    display: block;
}
header nav a:hover{
    background: var(--color-primary-700);

}

/* Actions styling */
header section{
    background: var(--color-primary-600);
    box-shadow: 0 1px 2px 2px var(--shadow-primary-5);
    color: var(--primary-text-light);
}

