:root {
  /* Shadows */
  --shadow-primary-025:oklch(0.293 0.066 243.157/0.25);
  --shadow-primary-5:oklch(0.293 0.066 243.157/0.5);
  --shadow-primary-75:oklch(0.293 0.066 243.157/0.75);

  --shadow-accent-025:oklch(0.277 0.046 192.524/0.25);
  --shadow-accent-5:oklch(0.277 0.046 192.524/0.5);
  --shadow-accent-75:oklch(0.277 0.046 192.524/0.75);

  --shadow-secondary-025:oklch(0.145 0 0/0.25);
  --shadow-secondary-5:oklch(0.145 0 0/0.5);
  --shadow-secondary-75:oklch(0.145 0 0/0.75);

  --shadow-black-025:oklch(0.145 0 0/0.25);
  --shadow-black-5:oklch(0.145 0 0/0.5);
  --shadow-black-75:oklch(0.145 0 0/0.75);

  /* Gradients */
  --primary-gradient: linear-gradient(to bottom right, var(--color-primary-500), var(--color-primary-700));
  /* Color Pallet */
  --color-accent-50: oklch(0.984 0.014 180.72);
  --color-accent-100: oklch(0.953 0.051 180.801);
  --color-accent-200: oklch(0.91 0.096 180.426);
  --color-accent-300: oklch(0.855 0.138 181.071);
  --color-accent-400: oklch(0.777 0.152 181.912);
  --color-accent-500: oklch(0.704 0.14 182.503);
  --color-accent-600: oklch(0.6 0.118 184.704);
  --color-accent-700: oklch(0.511 0.096 186.391);
  --color-accent-800: oklch(0.437 0.078 188.216);
  --color-accent-900: oklch(0.386 0.063 188.416);
  --color-accent-950: oklch(0.277 0.046 192.524);

  --color-primary-50: oklch(0.977 0.013 236.62);
  --color-primary-100: oklch(0.951 0.026 236.824);
  --color-primary-200: oklch(0.901 0.058 230.902);
  --color-primary-300: oklch(0.828 0.111 230.318);
  --color-primary-400: oklch(0.746 0.16 232.661);
  --color-primary-500: oklch(0.685 0.169 237.323);
  --color-primary-600: oklch(0.588 0.158 241.966);
  --color-primary-700: oklch(0.5 0.134 242.749);
  --color-primary-800: oklch(0.443 0.11 240.79);
  --color-primary-900: oklch(0.391 0.09 240.876);
  --color-primary-950: oklch(0.293 0.066 243.157);

  --color-secondary-50: oklch(0.985 0 0);
  --color-secondary-100: oklch(0.97 0 0);
  --color-secondary-200: oklch(0.922 0 0);
  --color-secondary-300: oklch(0.87 0 0);
  --color-secondary-400: oklch(0.708 0 0);
  --color-secondary-500: oklch(0.556 0 0);
  --color-secondary-600: oklch(0.439 0 0);
  --color-secondary-700: oklch(0.371 0 0);
  --color-secondary-800: oklch(0.269 0 0);
  --color-secondary-900: oklch(0.205 0 0);
  --color-secondary-950: oklch(0.145 0 0);

  --color-gray-50: oklch(0.985 0 0);
  --color-gray-100: oklch(0.97 0 0);
  --color-gay-200: oklch(0.922 0 0);
  --color-gray-300: oklch(0.87 0 0);
  --color-gray-400: oklch(0.708 0 0);
  --color-gray-500: oklch(0.556 0 0);
  --color-gray-600: oklch(0.439 0 0);
  --color-gray-700: oklch(0.371 0 0);
  --color-gray-800: oklch(0.269 0 0);
  --color-gray-900: oklch(0.205 0 0);
  --color-gray-950: oklch(0.145 0 0);

  --color-white:white;
  --color-black: black;
}