:root {
  --secondary-color: #ffffff;
  --secondary-color-hover: #e7e7e7;
  --secondary-shadow-10: rgb(0, 88, 6);
  --secondary-shadow-75: rgb(0, 88, 6, 0.75);
  --secondary-shadow-5: rgb(0, 88, 6, 0.5);
  --secondary-shadow-25: rgb(0, 88, 6, 0.25);


  --primary-color : #005806;
  --primary-color-hover : #005205;
  --primary-shadow: rgb(0, 88, 6);


  --accent-color: #75006D;
  --accent-color-hover: #5E0059;
  --accent-shadow-25: rgba(48, 0, 45, 0.25);
  --accent-shadow-5: rgb(48, 0, 45, 0.5);

;

  /* Forms */
  --secondary-input: rgb(209, 209, 209);
  --secondary-input-hover: rgb(199, 199, 199);

  --secondary-light-text: white;
  --secondary-dark-text: black;
  --primary-light-text: #94ffa2;
  --primary-dark-text: #003107;


  --error-text: #ff0000 ;

  /* Shadows */
  --form-shadow: var(--shadow-teal-5);


  /* Gradients */
  --grdient-1: #3cb144;
  --gradient-2: #006407;
}
