{% extends "page/navbar.html" %}
{%  block content %}
<section class="text-center">
    <div class="island inline-block">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Archive</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{category.category}}</td>
                    <td>
                        <form action="{% url 'vsi:archive_category' category.id %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-secondary text-bold" type="submit" value="Archive">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}