body {
    font-family: sansation;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background: var(--primary-bg1);

}

